# text files
*.dat
*.txt
*.jpg
*.png
*.pdf
*.o
*.exe
*__pycache__
*.h5
*.gif
*.csv
*.pyc
# *.ipynb
*.json
*.html
*.css
*.js
*.egg-info
/docs/build
/docs/source/_static
/docs/source/_templates
/docs/source/auto_examples
/SIMsalabim/SimSS/log*.txt
/SIMsalabim/SimSS/JV*.dat
/SIMsalabim/SimSS/scPars*.txt
/SIMsalabim/SimSS/Var*.txt
# Exceptions
!requirements.txt
!pySIMsalabim/**.py
# !SIMsalabim/Data/**.txt
# !SIMsalabim/Docs/**.txt
# !SIMsalabim/Docs/**.pdf


# ignore folders
__pycache__/
.vscode/
.ipynb_checkpoints/
dist/
/SIMsalabim/
# build/
.eggs/
.pypirc
.pytest_cache/

# ignore files
!docs/logo/**
!docs/index.html
!docs/source/*.rst
!docs/source/*.py
!docs/source/custom.css
!docs/source/*.png
!docs/source/examples/*.ipynb
build/
dist/
*.egg-info/



