# text files
*.dat
*.txt
*.jpg
*.png
*.pdf
*.o
*.exe
*__pycache__
*.h5
*.gif
*.csv
*.pyc
# *.ipynb
*.json


# Exceptions
!requirements.txt
!pySIMsalabim/**.py
# !SIMsalabim/Data/**.txt
# !SIMsalabim/Docs/**.txt
# !SIMsalabim/Docs/**.pdf


